.about-wrapper {
	background-color: #00264d;
	color: rgb(167, 167, 5);
	height: 100%;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 1.6em;
}
.about-container {
	width: 85%;
	height: 60%;
	padding: 1em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 1px 1px 10px 5px #011c36;
}
.about {
	width: 40%;
	height: 45vh;
	box-shadow: 1px 1px 10px 3px #011c36;
	animation: aboutContainer 2s ease-in;
}
@keyframes aboutContainer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.about ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	font-size: 1.5em;
	height: 45vh;
	position: relative;
	bottom: 600px;
}
.about ul li:nth-child(1) {
	animation: one 2s ease-in forwards;
}
.about ul li:nth-child(2) {
	animation: two 2s ease-in forwards;
	animation-delay: 2s;
}
.about ul li:nth-child(3) {
	animation: three 2s ease-in forwards;
	animation-delay: 4s;
}
.about ul li:nth-child(4) {
	animation: four 2s ease-in forwards;
	animation-delay: 6s;
}
@keyframes one {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(300px);
		color: #fff;
	}
	100% {
		transform: translateY(600px);
		opacity: 1;
	}
}
@keyframes two {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(350px);
		color: #fff;
	}
	100% {
		transform: translateY(600px);
		opacity: 1;
	}
}
@keyframes three {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(400px);
		color: #fff;
	}
	100% {
		transform: translateY(600px);
		opacity: 1;
	}
}
@keyframes four {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(450px);
		color: #fff;
	}
	100% {
		transform: translateY(600px);
		opacity: 1;
	}
}
.profile-container {
	display: flex;
	width: 40%;
	height: 45vh;
}
.profile {
	box-shadow: 1px 1px 10px 3px #011c36;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 45vh;
	position: relative;
	bottom: 600px;
	animation: profile 2s ease-in forwards;
	animation-delay: 8s;
}
@keyframes profile {
	0% {
		opacity: 0;
	}
	100% {
		transform: translateY(600px);
		opacity: 1;
	}
}
.image {
	width: 100%;
	height: 55%;
}
.image img {
	width: 100%;
	height: 100%;
}
.role{
	width: 100%;
	height: 5vh;
	display: grid;
	place-content: center;
	background-color: rgb(167, 167, 5);
	color: #011c36;
	font-weight: bold;
}
.additional-info {
	padding: .6em 1em;
	font-size: .9em;
}
.contact-btn {
	padding-block: .5em;
	width: 30%;
	text-align: center;
	box-shadow: 1px 1px 10px 5px #011c36;
}
.btn {
	color: rgb(167, 167, 5);
	text-decoration: none;
	font-size: 1em;
}
@media (max-width: 768px) {
	.about-wrapper {
		height: 100vh;
		width: 100%;
	}
	.about-container {
		width: 100%;
		height: 90%;
		flex-direction: column;
	}
	.about {
		width: 70%;
		height: 30%;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
		animation: none;
	}
	.about ul {
		height: 100%;
		width: 100%;
		position: initial;
		top: initial;
	}
	.about ul li:nth-child(1),
	.about ul li:nth-child(2),
	.about ul li:nth-child(3),
	.about ul li:nth-child(4) {
		animation: none;
	}
	.profile-container {
		width: 70%;
		height: 50%;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
	}
	.profile {
		width: 100%;
		height: 100%;
		position: initial;
		top: initial;
		animation: none;
		gap: .7em;
	}
	.role {
		font-size: 1.3em;
	}
	.additional-info {
		font-size: 1.2em;
		display: grid;
		place-content: center;
		padding: 0 1em;
	}
}
@media screen and (max-width: 543px) {
	.about-container{
		box-shadow: 1px 1px 10px 4px #fff;
	}
	.about {
		box-shadow: 1px 1px 10px 4px #fff;
		width: 80%;
	}
	.about ul {
		color: #fff;
		font-size: 1.1em;
	}
	.profile-container {
		width: 80%;
		height: 60%;
		box-shadow: none;
	}
	.profile {
		box-shadow: 1px 1px 10px 4px #fff;
		border: none;
		gap: 0;
	}
	.image{
		height: 40%;
	}
	.role {
		border-top: 1px solid rgb(167, 167, 5);
		border-bottom: 1px solid rgb(167, 167, 5);
		font-size: 1em;
		background-color: initial;
		color: #fff;
	}
	.additional-info {
		font-size: .9em;
		background-color: #011c36;
		text-align: center;
		height: 32%;
	}
	.contact-btn{
		margin-top: .7em;
		box-shadow: rgb(167, 167, 5);
		width: 40%;
		padding-block: .5em;
	}
	.btn {
		font-size: 1em;
		color: #fff;
	}
}