.about-wrapper {
	background-color: #00264d;
	color: rgb(167, 167, 5);
	height: 100%;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding-inline: 1.6em;
}
.about-container {
	width: 95%;
	height: 60%;
	padding: 1em;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 1px 1px 10px 5px #011c36;
}
.about {
	width: 45%;
	height: 56vh;
	background-color: #011c36;
	animation: aboutContainer 2s ease-in;
}
.about ul {
	list-style-type: none;
	display: grid;
	place-content: center;
	gap: 0.5em;
	font-size: 1.5em;
	width: 34%;
	height: 56vh;
	position: absolute;
	top: -510px;
}
.about ul li:nth-child(1) {
	animation: one 2s ease-in forwards;
}
.about ul li:nth-child(2) {
	animation: two 2s ease-in forwards;
	animation-delay: 2s;
}
.about ul li:nth-child(3) {
	animation: three 2s ease-in forwards;
	animation-delay: 4s;
}
.about ul li:nth-child(4) {
	animation: four 2s ease-in forwards;
	animation-delay: 6s;
}
.profile-container {
	display: flex;
	width: 45%;
	height: 56vh;
}
.profile {
	border: 1px solid rgb(167, 167, 5);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 33.7%;
	height: 56vh;
	position: absolute;
	top: -510px;
	animation: profile 2s ease-in forwards;
	animation-delay: 8s;
}
.image {
	width: 100%;
	height: 40vh;
}
.image img {
	width: 100%;
	height: 100%;
}
.additional-info {
	text-align: center;
	padding-inline: 1em;
}
.contact-btn {
	width: 100%;
	height: 7vh;
	display: grid;
	place-content: center;
	background-color: #011c36;
}
.btn {
	color: rgb(167, 167, 5);
	text-decoration: none;
	font-size: 1.2em;
}
@keyframes one {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(300px);
		color: #fff;
	}
	100% {
		transform: translateY(697px);
		opacity: 1;
	}
}
@keyframes two {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(300px);
		color: #fff;
	}
	100% {
		transform: translateY(697px);
		opacity: 1;
	}
}
@keyframes three {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(300px);
		color: #fff;
	}
	100% {
		transform: translateY(697px);
		opacity: 1;
	}
}
@keyframes four {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(300px);
		color: #fff;
	}
	100% {
		transform: translateY(697px);
		opacity: 1;
	}
}
@keyframes profile {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(325px);
	}
	100% {
		transform: translateY(707px);
		opacity: 1;
	}
}
@keyframes aboutContainer {
	0% {
		opacity: 0;
	}
	100% {
		background-color: #011c36;
		opacity: 1;
	}
}
@media (max-width: 768px) {
	.about-wrapper {
		height: 100vh;
		width: 100%;
	}
	.about-container {
		width: 100%;
		height: 90%;
		flex-direction: column;
		align-items: center;
		box-shadow: 1px 1px 10px 5px #011c36;
	}
	.about {
		width: 70%;
		height: 30%;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
		animation: none;
	}
	.about ul {
		font-size: 1.5em;
		height: 100%;
		width: 100%;
		position: initial;
		top: initial;
	}
	.about ul li:nth-child(1),
	.about ul li:nth-child(2),
	.about ul li:nth-child(3),
	.about ul li:nth-child(4) {
		animation: none;
	}
	.profile-container {
		width: 70%;
		height: 50%;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
	}
	.profile {
		justify-content: space-between;
		width: 100%;
		height: 100%;
		position: initial;
		top: initial;
		animation: none;
	}
	.role {
		font-size: 1.3em;
	}
	.image {
		height: 20vh;
	}
	.image img {
		width: 100%;
		height: 100%;
	}
	.additional-info {
		font-size: 1.2em;
		display: grid;
		place-content: center;
		padding-inline: 1em;
		height: 20%;
	}
	.contact-btn {
		height: 10%;
	}
	.btn {
		font-size: 1em;
	}
}
@media screen and (max-width: 543px) {
	.about {
		width: 80%;
	}
	.about ul {
		font-size: 0.9em;
	}
	.profile-container {
		width: 80%;
	}
	.profile {
		border: none;
	}
	.role {
		font-size: 1em;
	}
	.image {
		height: 20vh;
	}
	.additional-info {
		font-size: 0.8em;
		padding-inline: 0.5em;
		height: 25%;
	}
	.contact-btn {
		height: 10%;
	}
	.btn {
		font-size: 0.8em;
	}
}
