.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 85%;
	padding-inline: 2em;
	background-color: #00264d;
}
.skills-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
	height: 45vh;
	background-color: #011c36;
}
.skills-header{
	border: 1px solid rgb(167, 167, 5);
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45vh;
	padding-block: 1em;
	background-color: rgb(167, 167, 5);
}
.skills-header h1 {
	border: 1px solid white;
	text-align: center;
	color: rgb(167, 167, 5);
	background-color: #011c36;
	padding: 0.3em;
	border-radius: 5px;
	width: 70%;
}
.skills-summary {
	border-right: 1px solid rgb(167, 167, 5);
	padding: 2em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	width: 45%;
	height: 45vh;
}
.skills-summary p {
	font-size: 1.2em;
	color: rgb(182, 180, 180);
}
.my-skills {
	width: 35%;
}
.my-skills ul {
	list-style-type: none;
	background-color: #011c36;
	width: 100%;
	height: 35vh;
	gap: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.my-skills li {
	background: linear-gradient(90deg, #000, white, rgb(167, 167, 5));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	background-size: 90%;
	letter-spacing: 0.5em;
	font-size: 2em;
	animation: animate 3s linear infinite;
}
.other-skills {
	width: 80%;
	height: 40vh;
	display: flex;
}
.other-skills-header {
	border-right: 1px solid rgb(167, 167, 5);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	padding-inline: 1em;
	background-color: rgb(167, 167, 5);
}
.other-skills-header h2 {
	border: 1px solid rgb(167, 167, 5);
	color: rgb(167, 167, 5);
	padding: 0.5em 0;
	background-color: #011c36;
	border-radius: 5px;
	width: 90%;
	text-align: center;
}
.other-skills ul {
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	background-color: #011c36;
}
.other-skills li {
	background: linear-gradient(90deg, #000, white, rgb(167, 167, 5));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	background-size: 80%;
	font-size: 2em;
	animation: animate 10s linear infinite;
}
@keyframes animate {
	0% {
		background-position: -500%;
	}
	100% {
		background-position: 500%;
	}
}
@media (max-width: 768px) {
	.skills-wrapper {
		gap: 1.2em;
		height: 100%;
		width: 100%;
		padding-block: 2em;
	}
	.skills-container {
		flex-direction: column;
		width: 90%;
		height: 100%;
		padding-bottom: 2em;
	}
	.skills-header, .other-skills-header{
		width: 100%;
		height: 7.5vh;
	}
	.skills-header h1{
		width: 30%;
	}
	.other-skills-header h2{
		width: 50%;
		padding: 0.3em;
	}
	.skills-summary {
		padding: 1em;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
		line-height: 3vh;
		width: 70%;
		height: 45vh;
	}
	.skills-summary p {
		font-size: 1.5em;
	}
	.my-skills {
		width: 70%;
		box-shadow: 1px 1px 10px 3px rgb(167, 167, 5);
	}
	.other-skills {
		width: 90%;
		height: 50vh;
		flex-direction: column;
	}
	.other-skills-header {
		height: 7vh;
		width: 100%;
		background-color: rgb(167, 167, 5);
		font-size: 1.3em;
		padding: .5em;
	}
	.other-skills ul {
		height: 40vh;
		gap: 1em;
	}
}
@media (max-width: 543px) {
	.skills-container{
		background-color: #00264d;
	}
	.skills-header,
	.other-skills-header {
		width: 100%;
		height: 5vh;
	}
	.skills-header h1{
		border: none;
		width: 40%;
		font-size: 1em;
		background-color: initial;
		color: #011c36;
	}
	.other-skills-header h2{
		background-color: initial;
		color: #011c36;
		width: 55%;
		font-size: .7em;
		padding: .2em 0;
	}
	.skills-summary {
		width: 100%;
	}
	.skills-summary p {
		font-size: .9em;
	}
	.my-skills {
		width: 100%;
	}
	.my-skills li {
		letter-spacing: 0.5em;
		font-size: 1.3em;
	}
	.other-skills {
		height: 40vh;
	}
	.other-skills li {
		font-size: 1em;
	}
}
