.navbar-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 15%;
	background-color: #011c36;
	border-right: 1px solid rgb(167, 167, 5);
	height: 100%;
}
.navbar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: #fff;
	width: 100%;
	height: 25%;
	background-color: rgb(167, 167, 5);
}
.navbar-header {
	display: flex;
	justify-content: center;
	background-color: rgb(167, 167, 5);
	box-shadow: 1px 1px 10px 5px #011c36;
	color: rgb(11, 11, 48);
	border-radius: 10px;
	width: 45%;
	align-self: center;
}
.burger-icon {
	color: rgb(167, 167, 5);
	text-align: center;
	display: none;
}
.nav-link-wrapper{
	display: flex;
	flex-direction: column;
	height: 60%;
	width: 100%;
}
.nav-links-container{
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-block: 1em;
}
.links{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	gap: 1em;
	padding-block: 1em;
}
.nav-links-container li:hover {
	background-color: #0066cc;
	cursor: pointer;
}
.nav-link {
	color: rgb(167, 167, 5);
	text-decoration: none;
	font-size: 1em;
	position: relative;
}
.nav-link::after{
	content: "";
	position: absolute;
	width: 10%;
	height: 2px;
	top: 100%;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.nav-link:hover:after {
	visibility: visible;
	width: 100%;
  }
.nav-link:focus {
	color: white;
}
.account-links {
	display: flex;
	justify-content: center;
	gap: 1.6em;
	width: 100%;
	padding-block: 1em;
}
.git-icon,
.linkedIn-icon {
	font-size: 2em;
	color: rgb(167, 167, 5);
	padding: 0.2em 0.3em;
	border-radius: 10px;
	box-shadow: 1px 1px 15px 4px grey;
}
.git-icon span,
.linkedIn-icon span {
	font-size: 0.6em;
	padding: 0.1em;
	display: none;
}
.linkedIn-icon:hover span {
	display: block;
	position: absolute;
	top: 25.8em;
	left: 5.8em;
	color: rgb(167, 167, 5);
}
.git-icon:hover,
.linkedIn-icon:hover {
	background-color: #0066cc;
	color: white;
}
.git-icon:hover span {
	display: block;
	position: absolute;
	top: 25.8em;
	left: 2.3em;
	color: rgb(167, 167, 5);
}
.copy-right {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.copy-right p {
	font-size: 1em;
	color: rgb(167, 167, 5);
}
@media screen and (max-width: 768px) {
	.navbar-wrapper{
		border-bottom: 1px solid white;
		width: 100%;
		height: 20vh;
		background-color: #fff;
		border-right: none;
	}
	.navbar-container {
		background-color: #011c36;
		height: 75%;
		gap: .5em;
		font-size: 1.2em;
	}
	.navbar-header {
		width: 13%;
	}
	.burger-icon{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		height: 25%;
		background-color: #011c36;
	}
	.nav-link-wrapper {
		position: absolute;
		width: 100%;
		top: 20.1%;
		left: -100%;
		transition: all 0.5s ease-in;
		z-index: 1;
		height: 80%;
	}
	.nav-link-wrapper.active {
		left: 0;
		background-color: #011c36;
		z-index: 1;
		transition: all 0.5s ease-in;
		gap: 1em;
	}
	.nav-links-container{
		gap: 2em;
	}
	.links{
		gap: 2em;
	}
	.account-links{
		padding-block: 2em;
	}
}
@media screen and (max-width: 543px) {
	.navbar-header {
		font-size: .7em;
		width: 11;
	}
	.burger-icon{
		font-size: 1em;
	}
	.navbar-container{
		font-size: 1em;
	}
	.nav-link-wrapper {
		top: 20%;
	}
	.nav-links-container{
		gap: 0;
		height: 70%;
		padding: 0;
		justify-content: space-between;
	}
	.links{
		height: 65%;
		font-size: 1em;
		justify-content: space-around;
		gap: 1em;
	}
	.account-links{
		border: 1px solid rgb(167, 167, 5);
	}
	.git-icon,
	.linkedIn-icon {
		font-size: 1.6em;
	}
	.linkedIn-icon:hover span {
		display: none;
	}
	.git-icon:hover span {
		display: none;
	}
}
@media screen and (max-width: 320px){
	.navbar-container, .burger-icon{
		font-size: .8em;
	}
}
